/* IMPORTING FONTS FROM LOCAL FILES */

@font-face {
    font-family: 'Proxima Nova Black';
    src: url(../fonts/ProximaNova/ProximaNova-Black.otf) format('opentype');
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url(../fonts/ProximaNova/ProximaNova-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Proxima Nova Extrabold';
    src: url(../fonts/ProximaNova/ProximaNova-Extrabold.otf) format('opentype');
}

@font-face {
    font-family: 'Proxima Nova Semibold';
    src: url(../fonts/ProximaNova/ProximaNova-Semibold.otf) format('opentype');
}

@font-face {
    font-family: 'Proxima Nova Regular';
    src: url(../fonts/ProximaNova/ProximaNova-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Proxima Nova Light';
    src: url(../fonts/ProximaNova/ProximaNova-Light.otf) format('opentype');
}

/* STYLING */

#sketch {
}

.corner-logo {
    position: fixed;
    top: 5px;
    left: 5px;
    height: 70px;
    width: 125px;
    z-index: 4;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

body{
    color: #444444;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Proxima Nova Regular';




    background: #d4d0ca; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#f0eeeb, #d4d0ca); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f0eeeb, #d4d0ca); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f0eeeb, #d4d0ca); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f0eeeb, #d4d0ca); /* Standard syntax */

    /*blue background vs. beige*/
    /*background: #2a51a3; !* For browsers that do not support gradients *!*/
    /*background: -webkit-linear-gradient(#596fb5, #2a51a3); !* For Safari 5.1 to 6.0 *!*/
    /*background: -o-linear-gradient(#596fb5, #2a51a3); !* For Opera 11.1 to 12.0 *!*/
    /*background: -moz-linear-gradient(#596fb5, #2a51a3); !* For Firefox 3.6 to 15 *!*/
    /*background: linear-gradient(#596fb5, #2a51a3); !* Standard syntax *!*/

}

.container{
    padding: 8%;
    margin: 4% 6%;
    background-color: #fdfdfd;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.title{
    margin-top: 2%;
    text-align: center;
    color: #e06453;
    font-size: 4em;
    font-family: 'Proxima Nova Regular';
}

.header{
    font-size: 20pt;
    text-align: left;
    font-family: 'Proxima Nova Regular';
}

p{
    font-size: 13pt;
    line-height: 25pt ;
}

a{
    color: #5e79dd;
    text-decoration: none;
    font-weight: 700;
    line-height: 25pt;
    font-size: 13pt;


}

/*
a:visited{
    color: #ce7861;
}
*/

a:hover{
    color: #204eab;

}

strong{
    padding-bottom: 3px;
    border-bottom: 2px solid #eeeeee;
}

.flex{
    display: flex;
    align-items: center;
}

img{
    width: 100%;
}

.introimg{
    width: 30%;
    margin: 2%;
}

hr {
    width: 80%;
    opacity: 0.8;
}


/** form styling **/



#settings{
    background:white;
    display: none;
    position: absolute;
    width: 200px;
    height: 300px;
    top: 100px;
    right: 30px;
    padding: 2%;
    opacity: 0.8;
}

#instructions{
    background:white;
    display: none;
    position: absolute;
    width: 200px;
    height: 300px;
    top: 100px;
    right: 30px;
    padding: 2%;
    opacity: 0.8;
}

.sidebar{
    background:white;
    position: absolute;
    width: 200px;
    height: 330px;
    top: 20px;
    right: 0px;
    padding: 2%;
    opacity: 0.8;
}

#images{
    background:white;
    position: absolute;
    display: none;
    width: 130px;
    height: 400px;
    top: 150px;
    left: 20px;
    padding: 20px;
    opacity: 0.95;
}

#images img{
    width: 130px;
}

.button {
    background-color: #9B2C2C;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
}

#login-link {
    position: absolute;
    bottom: 10px;
    right: 20px;
    height: 5%;
    width: 5%;
    z-index: 4;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}


#userwelcome {
    position: absolute;
    bottom: 20px;
    text-align: center;
    left: 20px;
    height: 2%;
    width: 155px;
    z-index: 4;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

#download-link {
    width: 120px;
    z-index: 4;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    float:none;

}

.redtext {
    color: #990000;
}

#close-x{
    opacity: 0.6;
    float: right;
    cursor: pointer;
}





@media screen and (max-width: 800px) { iframe { display:none; transition: 2s;}}

