/* IMPORTING FONTS FROM LOCAL FILES */

@font-face {
    font-family: 'Proxima Nova Black';
    src: url(../fonts/ProximaNova/ProximaNova-Black.otf) format('opentype');
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url(../fonts/ProximaNova/ProximaNova-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Proxima Nova Extrabold';
    src: url(../fonts/ProximaNova/ProximaNova-Extrabold.otf) format('opentype');
}

@font-face {
    font-family: 'Proxima Nova Semibold';
    src: url(../fonts/ProximaNova/ProximaNova-Semibold.otf) format('opentype');
}

@font-face {
    font-family: 'Proxima Nova Regular';
    src: url(../fonts/ProximaNova/ProximaNova-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Proxima Nova Light';
    src: url(../fonts/ProximaNova/ProximaNova-Light.otf) format('opentype');
}

/* STYLING */

#sketch {
}

.corner-logo {
    position: fixed;
    top: 5px;
    left: 5px;
    height: 70px;
    width: 125px;
    z-index: 4;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.logo{
    height: 70px;
    width: 125px;
}

body{
    color: #444444;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Proxima Nova Regular';


    background: #d4d0ca; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#f0eeeb, #d4d0ca); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f0eeeb, #d4d0ca); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f0eeeb, #d4d0ca); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f0eeeb, #d4d0ca); /* Standard syntax */

    /*blue background vs. beige*/
    /*background: #2a51a3; !* For browsers that do not support gradients *!*/
    /*background: -webkit-linear-gradient(#596fb5, #2a51a3); !* For Safari 5.1 to 6.0 *!*/
    /*background: -o-linear-gradient(#596fb5, #2a51a3); !* For Opera 11.1 to 12.0 *!*/
    /*background: -moz-linear-gradient(#596fb5, #2a51a3); !* For Firefox 3.6 to 15 *!*/
    /*background: linear-gradient(#596fb5, #2a51a3); !* Standard syntax *!*/

}

.container{
    padding: 8%;
    margin: 4% 6%;
    background-color: #fdfdfd;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.title{
    margin-top: 2%;
    text-align: center;
    color: #5e79dd;
    font-size: 2em;
    font-family: 'Proxima Nova bold';
}

.header{
    font-size: 20pt;
    text-align: left;
    font-family: 'Proxima Nova Regular';
}

p {
    font-size: 10pt;
    line-height: 18pt;
}

a{
    color: #5e79dd;
    text-decoration: none;
    font-weight: 700;
    line-height: 25pt;
    font-size: 10pt;
}


strong{
    padding-bottom: 3px;
    border-bottom: 2px solid #eeeeee;
}

.flex{
    display: flex;
    align-items: center;
}

img{
    width: 100%;
}

.introimg{
    width: 30%;
    margin: 2%;
}

hr {
    width: 80%;
    opacity: 0.8;
}



/** form styling **/

logo{
    width: 80px;
    height: 30px;
}

.login {
    border-radius: 5px;
    background-color: #fdfdfd;
    width: 400px;
    margin: 7% auto auto;
    padding: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    font-size: 10pt;
    font-family: 'Proxima Nova Regular';

    text-align: center;
}

.search {
    border-radius: 5px;
    background-color: #fdfdfd;
    width: 700px;
    margin: 7% auto auto;
    padding: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    font-size: 10pt;
    font-family: 'Proxima Nova Regular';

    text-align: center;
}

a:hover{
    padding-bottom: 3px;
    text-decoration: none;
    border-bottom: 2px solid #204eab;
}

form {
    text-align: left;

}

/*check for repetitive styling*/

input[type=text], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=hidden] {
    width: 0%;
    height: 0%;
    outline: none;
    display: none;
}

.half-input{
    width: 47%;
    padding: 12px 20px;
    margin: 1px;
    margin-top: 8px;
    display: inline-block;
    border: 2px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 2px solid #93a8ff;
}

input[type=password]:focus {
    border: 2px solid #93a8ff;
}

input[type=submit], input[type=file] {
    width: 100%;
    background-color: #5e79dd;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

button[type=submit]{
    width: 100%;
    background-color: #5e79dd;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=submit]:hover {
    background-color: #204eab;
}


/*INDEX CONTENT STYLING*/


.sidebar {
    border-radius: 5px;
    background-color: #fdfdfd;
    width: 300px;
    margin: 7% auto auto;
    padding: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    font-size: 10pt;
    font-family: 'Proxima Nova Regular';

    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;

    text-align: left;
}

#settings{
    background:white;
    display: none;
    position: absolute;
    width: 200px;
    top: 50px;
    right: 30px;
    padding: 2%;
    opacity: 0.95;
}

#instructions{
    background:white;
    display: none;
    position: absolute;
    width: 200px;
    height: 300px;
    top: 100px;
    right: 30px;
    padding: 2%;
    opacity: 0.95;
}

#images{
    background:white;
    position: absolute;
    display: none;
    width: 200px;
    top: 50px;
    left: 20px;
    padding: 20px;
    opacity: 0.95;
    text-align: center;
}

#averagecolor {
    width: 80%;
    margin: auto;

}

.colorbar{
    width: 510px;
    margin: auto;
    background-color: white;
    text-align: center;
}
.colortile{
    width: 25%;
    height: 25%;
    margin: 4%;
    background-color:grey;
    float: left;
}
#colortilebox{
    width: 80%;
    margin: auto;
    text-align: center;


}


#images img{
    width: 130px;
}

#controls{
    background:white;
    position: absolute;
    display: none;
    width: 150px;
    top: 50px;
    left: 20px;
    padding: 20px;
    opacity: 0.95;
    text-align: center;
}

.close{
    outline:none;
}

.redtext {
    color: #990000;
}

#close-x{
    opacity: 0.6;
    float: right;
    cursor: pointer;
}

/* SLIDER STYLING */

#slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.9; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #5e79dd; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 10px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #5e79dd; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

/*NAVIGATION*/

nav {
    position: fixed;
    top: 0px;
    padding: 15px 15px;
    background: #fff;
    width: 100%;
    opacity: 0.8;
    z-index: 101;
    box-shadow: 0 0 6px #999;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.navlinks a {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 10px 25px 0 0px;
    color: #888;
    opacity: 0.6;


}

.navlinks a:hover {
    opacity: 1;
    cursor: pointer;
    padding-bottom: 0px;

    border-bottom: none;
}

.navlinks .current {
    padding-bottom: 3px;
    border-bottom: 1px solid #ccc;
}

.navlinks {
    float: right;
    margin-right: 40px;
}

.navlinks .nav-icon {
    width: 25px;
    height: 10px;
    position: absolute;
    float:right;
    right: 15px;
    top: 20px;
    margin: 10px 15px 0 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    display: none;
}

.nav-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #888;
    border-radius: 0px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}


.nav-icon span:nth-child(1) {
    top: 0px;
}

.nav-icon span:nth-child(2),.nav-icon span:nth-child(3) {
    top: 9px;
}

.nav-icon span:nth-child(4) {
    top: 18px;
}

.nav-icon.open span:nth-child(1) {
    top: 9px;
    width: 0%;
    /*left: 50%;*/
}

.nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.nav-icon.open span:nth-child(4) {
    top: 9px;
    width: 0%;
    /*left: 50%;*/
}


/* When the screen is less than 900 pixels wide, hide all links, except for the first one ("Controls"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 900px) {
    .navlinks a:not(:first-child) {display: none;}
    .navlinks a.nav-icon {
        float: right;
        display: block;
        right: 15px;
    }
    nav{
        opacity: .85;
    }
}

 /*The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 900px) {
    /*.navlinks.responsive {position: relative;}*/
    /*.navlinks.responsive a.nav-icon {*/
        /*position: absolute;*/
        /*right: -35px;*/
        /*top: 0;*/
    /*}*/
    .navlinks.responsive a {
        float: none;
        display: block;
        text-align: right;
    }

    nav{
        opacity: .95;
    }

}


