/* IMPORTING FONTS FROM LOCAL FILES */

@font-face {
    font-family: 'Proxima Nova Black';
    src: url(../fonts/ProximaNova/ProximaNova-Black.otf) format('opentype');
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url(../fonts/ProximaNova/ProximaNova-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Proxima Nova Extrabold';
    src: url(../fonts/ProximaNova/ProximaNova-Extrabold.otf) format('opentype');
}

@font-face {
    font-family: 'Proxima Nova Semibold';
    src: url(../fonts/ProximaNova/ProximaNova-Semibold.otf) format('opentype');
}

@font-face {
    font-family: 'Proxima Nova Regular';
    src: url(../fonts/ProximaNova/ProximaNova-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Proxima Nova Light';
    src: url(../fonts/ProximaNova/ProximaNova-Light.otf) format('opentype');
}

/* STYLING */

#sketch {
}


body{
    color: #444444;
    background-color: #9B2C2C;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Proxima Nova Regular';
}

.container{
    padding: 8%;
    margin: 4% 6%;
    background-color: #fdfdfd;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.smallcontainer{
    width: 500px;
    padding: 10%;
    margin: auto;
}

.title{
    margin-top: 2%;
    text-align: center;
    color: #e06453;
    font-size: 4em;
    font-family: 'Proxima Nova Regular';
}

.header{
    font-size: 20pt;
    text-align: left;
    font-family: 'Proxima Nova Regular';
}

p{
    font-size: 13pt;
    line-height: 25pt ;
}

a{
    color: #e06453;
    text-decoration: none;
    font-weight: 700;
    line-height: 25pt;
    font-size: 13pt;
}

a:visited{
    color: #ce7861;
}

a:hover{
    color: #f27b60;
}

.flex{
    display: flex;
    align-items: center;
}

img{
    width: 100%;
}

.introimg{
    width: 30%;
    margin: 2%;
}

hr {
    width: 80%;
    opacity: 0.8;
}


/** form styling **/

#corner-logo {
     position: fixed;
     top: 0px;
     left: 0px;
     height: 10%;
     width: 10%;
     z-index: 4;
     transition: 0.5s;
 }
#corner-logo:hover {
    -webkit-transform: scale(1.2) rotate(360deg);
    -moz-transform: scale(1.2) rotate(360deg);
    -ms-transform: scale(1.2) rotate(360deg);
    -o-transform: scale(1.2) rotate(360deg);
    transform: scale(1.2) rotate(360deg);
}

#settings{
    background:white;
    position: absolute;
    width: 200px;
    height: 330px;
    top: 20px;
    right: 0px;
    padding: 2%;
    opacity: 0.8;
}

#images{
    background:white;
    position: absolute;
    width: 130px;
    height: 400px;
    top: 150px;
    left: 20px;
    padding: 20px;
    opacity: 0.95;
}

#images img{
    width: 130px;
}

.button {
    background-color: #9B2C2C;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
}

#login-link {
    position: absolute;
    bottom: 10px;
    right: 20px;
    height: 5%;
    width: 5%;
    z-index: 4;
    transition: 0.5s;
}

#search-link {
    position: absolute;
    bottom: 80px;
    right: 20px;
    height: 5%;
    width: 5%;
    z-index: 4;
    transition: 0.5s;
}

#style-link {
    position: absolute;
    bottom: 150px;
    right: 20px;
    height: 5%;
    width: 5%;
    z-index: 4;
    transition: 0.5s;
}

#userwelcome {
    position: absolute;
    bottom: 20px;
    text-align: center;
    left: 20px;
    height: 2%;
    width: 155px;
    z-index: 4;
    transition: 0.5s;
}

#download-link {
    width: 120px;
    z-index: 4;
    transition: 0.5s;
    float:none;

}

/*text{*/
    /*font-family: 'Proxima Nova Regular';*/
/*}*/

@media screen and (max-width: 800px) { iframe { display:none; transition: 2s;}}
