nav {
    position: fixed;
    top: 0px;
    padding: 15px 15px;
    background: #fff;
    width: 100%;
    opacity: 0.8;
    z-index: 101;
    box-shadow: 0 0 6px #ddd;

}

.navlinks a {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 10px 15px 0 0px;
    color: #888;
    opacity: 0.6;

}

.navlinks a:hover {
    opacity: 1;
    cursor: pointer;

}

.navlinks .current {
    padding-bottom: 3px;
    border-bottom: 1px solid #ccc;
}

.navlinks {
    float: right;
    margin-right: 40px;
}

#corner-logo {
    position: fixed;
    top: 5px;
    left: 5px;
    height: 70px;
    width: 125px;
    z-index: 4;
    transition: 0.5s;
}